body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    background-image: url('images/galaxy.jpg');
    color: #e7baba;
    background-size:cover

}

header {
    text-align: center;
}

footer {
    text-align: center;
}

/*



*/

div.main {
    position: relative;
content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    max-width: 45em;
    margin: auto;
    padding: 0.5em;
    text-align: left;
    margin-bottom: 1em;
    background-image: linear-gradient(to top, #420279, #ff6ceb);
    z-index: 1;
}

div.main::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #420279, #ff6ceb);
    z-index: -1;
    transition: opacity 0.4s linear;
    opacity: 0;
}

div.main:hover::before {
    opacity: 1;
}

div.interior {
    background: #3b0523;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.list {
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 0em;
}

div.header {
    min-width: auto;
    max-width: 25em;
    margin: auto;
    padding: 0.5em;
    background-image: linear-gradient(to top, #420279, #ff6ceb);
    text-align: center;
    margin-bottom: 1em;
}

p {
    padding: 1em;
}

p.header {
    line-height: 1.3em;
}

h1.header {
    font-weight: bolder;
    font-size: 3em;
}

ul {
    padding: 1em;
}


h2 {
    text-align: center
}
a {
    color: #e78d8d;
    transition: color 0.5s ease-in-out;
    transition: text-decoration-color 0.5s ease-in-out;
}

a:hover {
    color: #fca4ff;
    text-decoration-color: magenta;
}
