body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    background-image: linear-gradient(#631452, #3b0523);
    color: #e7baba;

}

header {
    text-align: center;
}

footer {
    text-align: center;
}

div.main {
    min-width: auto;
    max-width: 50%;
    margin: auto;
    padding: 1em;
    background: linear-gradient(to right, #9f05ff, #420279);
    text-align: justify;
    margin-bottom: 1em;
}

div.main:hover {
    background: linear-gradient(to left, #9f05ff, #420279);
}

div.interior {
    background-image: linear-gradient(#3b0523, #631452);
    padding: 2rem;
}

div.list {
    width: 70%;
    margin: auto;
    padding: 0em;
}

h1 {

}

h2 {
    text-align: center
}

p {

}

a {
    color: #e78d8d;
}

a:hover {
    color: #ffd0a6;
}
